* {
    font-family: "Comic Sans MS";
    font-size-adjust: 0.5;
}

@media screen and (max-width: 480px) {
    * {
        font-size-adjust: 0.6;
    }
    
    h1 {
        font-size-adjust: 0.4;
    }
    
    div.liens {
        display: block;
        min-width: initial;
        width: initial;
        max-width: initial;
        vertical-align: initial;
        float: initial;
        margin: 5px;
        margin-bottom: 10px;
    }

    div.recrutement {
        display: block;
        background-color: #E6DD5F;
        min-width: initial;
        width: initial;
        max-width: initial;
        vertical-align: initial;
        float: initial;
        margin: 5px;
    }
    
    .bouton {
        visibility: hidden;
    }
    
    .search_field {
        position: relative;
        left: 97px;
        top: 40px;
        min-width: 160px;
        width: 180px;
        max-width: 200px;
    }
    
    footer img {
        margin: 20px;
        position: relative;
        left: 20px;
    }
}

@media screen and (max-width: 640px) and (min-width: 481px){
    * {
        font-size-adjust: 0.65;
    }
    
    h1 {
        font-size-adjust: 0.4;
    }
    
    div.liens {
        display: block;
        min-width: initial;
        width: initial;
        max-width: initial;
        vertical-align: initial;
        float: initial;
        margin: 5px;
        margin-bottom: 10px;
    }

    div.recrutement {
        display: block;
        background-color: #E6DD5F;
        min-width: initial;
        width: initial;
        max-width: initial;
        vertical-align: initial;
        float: initial;
        margin: 5px;
    }
    
    .bouton {
        position: relative;
        top: 40px;
    }
    
    .search_field {
        position: relative;
        top: 40px;
        min-width: 160px;
        width: 180px;
        max-width: 200px;
    }
}

div {
    text-align: justify;
    color: black;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border-collapse: collapse;
    box-shadow: 5px 5px 5px black;
    padding-block-start: 0px;
}

div h1 {
    margin-block-start: 0px;
}

div ul {
    margin: 5px;
    padding-left: 15px;
    padding-right: 5px;
}

body {
    background-color: #2B2B2B;
    background-image: url("../pic/fond.png");
    background-attachment: scroll;
    background-repeat: repeat-y;
}

a {
    color: #267F35;
}

li {
    list-style-type: circle;
}

#start {
    color: white;
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
}

#submain {
    margin: initial;
    padding: initial;
    border-radius: initial;
    border: initial;
    box-shadow: initial;
    padding-block-start: initial;
    border-collapse: initial;
    z-index: 1;
}

.search_field {
    border: 2px solid #456879;
    border-radius: 10px;
    height: 13px;
    width: 210px;
    font-size: 12px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    padding: 4px;
}

.search_field:hover {
    box-shadow: 1px 1px 2px #10B0A9;
}

.bouton {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background: -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color: #ededed;
    border-radius: 8px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: #777777;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    height: 25px;
    width: 89px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 3px #ffffff;
}

.bouton:hover {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background: -moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color: #dfdfdf;
}

.bouton:active {
    position: relative;
    top: 1px;
}

.recherche {
    margin: initial;
    padding: initial;
    border-radius: initial;
    border: initial;
    box-shadow: initial;
    padding-block-start: initial;
    border-collapse: initial;
    z-index: 2;
    position: absolute;
    top: 75px;
    right: 25px;
}

.avatar {
    margin: auto;
    display: block;
    height: 100px;
    width: auto;
}

.spoiler {
    visibility: hidden;
    background-color: #C9E1CB;
    position: absolute;
}

.spoilerBis {
    visibility: hidden;
    background-color: #C9E1CB;
    position: absolute;
    border-radius: initial;
    border: initial;
    border-collapse: initial;
    box-shadow: initial;
    background-color: #767676;
    padding-block-start: initial;
}

.main {
    background-color: #FEA86F;
    margin-bottom: 10px;
}

.videos {
    background-color: #5FE67F;
    margin-bottom: 10px;
}

.liens {
    display: inline-block;
    background-color: #5FC2E6;
    min-width: 40%;
    width: 46%;
    max-width: 50%;
    margin-right: 0px;
    vertical-align: top;
    float: left;
}

.recrutement {
    display: inline-block;
    background-color: #E6DD5F;
    min-width: 40%;
    width: 46%;
    max-width: 50%;
    margin-left: 0px;
    vertical-align: top;
    float: right;
}

.main:hover {
    background-color: #FFB475;
}

.videos:hover {
    background-color: #68ED88;
}

.liens:hover {
    background-color: #68C9ED;
}

.recrutement:hover {
    background-color: #F2E468;
}