/*
* CSS pour Urworld : http://pyprojects.alwaysdata.net/
* Auteur : Romain Claveau (Neoblast1996)
*/

/* général */
html
{
	margin: 0;
	padding: 0;
	font-family: "Tahoma";
}

body
{
	background-image: url('../images/background.jpg');
	background-attachment: fixed;
	background-position: bottom;
	opacity: 0.8;
}

a
{
	color: #04B404;
	text-decoration: none;
	cursor: pointer;
}

a:visited
{
	color: gray;
}

p
{
	text-align: justify;
	padding-left: 8px;
	padding-right: 8px;
}

h1
{
	padding-top: 50px;
	padding-left: 15px;
	color: #21610B;
	text-decoration: underline;
}

/* détail */
div#logo
{
	position: fixed;
	top: 0;
	left: 10%;
	width: 80%;
	height: 108px;
	background-color: #DAF0DA;
	text-align: center;
	z-index: 2;
}

div#content
{
	position: absolute;
	top: 108px;
	left: 10%;
	width: 80%;
	min-height: 100%;
	background-color: white;
	z-index: 1;
}

li.en_cours
{
	color: orange;
}